[submodule "lib/data/1.0"]
	path = lib/data/1.0
	url = git@github.com:bugcrowd/vulnerability-rating-taxonomy.git
[submodule "lib/data/1.1"]
	path = lib/data/1.1
	url = git@github.com:bugcrowd/vulnerability-rating-taxonomy.git
[submodule "lib/data/1.2"]
	path = lib/data/1.2
	url = git@github.com:bugcrowd/vulnerability-rating-taxonomy.git
[submodule "lib/data/1.3"]
	path = lib/data/1.3
	url = git@github.com:bugcrowd/vulnerability-rating-taxonomy.git
[submodule "lib/data/1.3.1"]
	path = lib/data/1.3.1
	url = git@github.com:bugcrowd/vulnerability-rating-taxonomy.git
[submodule "lib/data/1.4"]
	path = lib/data/1.4
	url = git@github.com:bugcrowd/vulnerability-rating-taxonomy.git
[submodule "lib/data/1.5"]
	path = lib/data/1.5
	url = git@github.com:bugcrowd/vulnerability-rating-taxonomy.git
[submodule "lib/data/1.6"]
	path = lib/data/1.6
	url = git@github.com:bugcrowd/vulnerability-rating-taxonomy.git
[submodule "lib/data/1.7"]
	path = lib/data/1.7
	url = git@github.com:bugcrowd/vulnerability-rating-taxonomy.git
