/.bundle/
/doc/
/pkg/
/spec/reports/
/tmp/
.DS_Store

# Gemfile.lock should not be under version control
# https://yehudakatz.com/2010/12/16/clarifying-the-roles-of-the-gemspec-and-gemfile/
Gemfile.lock
